# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
build/
dist/

# Flask / instance
instance/
*.sqlite3
*.db

# Env / secrets
.env
.env.*

# Editors / OS
.vscode/
.idea/
.DS_Store

# Logs
*.log
