{% extends "base.html" %}
{% block title %}My Projects{% endblock %}
{% block content %}
<h1>My Projects</h1>
<p><a href="{{ url_for('projects.create') }}">+ New Project</a></p>
{% if projects %}
<table>
  <tr><th>Name</th><th>Created</th><th></th></tr>
  {% for project in projects %}
  <tr>
    <td><a href="{{ url_for('projects.detail', project_id=project.id) }}">{{ project.name }}</a></td>
    <td>{{ project.created_at.strftime('%Y-%m-%d') }}</td>
    <td></td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No projects yet. Create your first one!</p>
{% endif %}
{% endblock %}
