{% extends "base.html" %}
{% block title %}{{ 'Edit Sprint' if sprint else 'New Sprint' }}{% endblock %}
{% block content %}
<h1>{{ 'Edit Sprint' if sprint else 'New Sprint' }}</h1>
<form method="post">
  {{ form.hidden_tag() }}
  <div class="field">{{ form.name.label }} {{ form.name() }}</div>
  <div class="field">{{ form.start_date.label }} {{ form.start_date() }}</div>
  <div class="field">{{ form.end_date.label }} {{ form.end_date() }}</div>
  <button type="submit">Save</button>
</form>
{% endblock %}
